<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .parent {
            display: table;
        }

        .left,
        .right {
            width: 300px;
            display: table-cell;
        }

        .left {
            background-color: #c9394a;
        }

        .right {
            background-color: #ccc;
        }
    </style>
</head>

<body>
    <div class="parent">
        <div class="left">imooc</div>
        <div class="right">
            中新网南昌11月15日电(记者 华山
            吴鹏泉)15日下午，由农业农村部、江西省人民政府主办的第十七届中国国际农产品交易会在江西南昌开幕。在活动期间举办的“中国农业品牌建设高峰论坛”上，农业农村部部长韩长赋表示，未来随着扶持政策进一步落实落地，生猪生产一定会逐步得到恢复。
            韩长赋介绍，今年以来，受“猪周期”下行、非洲猪瘟疫情冲击、地方环保限养等因素叠加影响，生猪和能繁母猪存栏出现较大程度下滑，生猪和猪肉价格大幅度上涨。
            “农业农村部会同国务院七部门出台了一揽子扶持，稳定恢复生产的政策，包括取消超范围划定禁养区，加大养殖用地保障，猪肉运输纳入绿色通道和财政金融支持等十七条。这一套的政策组合拳，有利提振了市场信心。”韩长赋表示，近期以来，养殖场户补栏增养积极性明显提升。
            韩长赋还表示，从今年十月份开始，全国能繁母猪存栏环比已经止跌回升，生猪存栏环比降幅明显收窄。进入十一月份以来，生猪和猪肉价格已经开始回落。
            “今年禽肉、牛羊肉都有不小的增长，肉品市场供应总体有保障。未来，随着扶持政策进一步落实、落地，市场行情有利拉动，生猪生产一定会逐步恢复。”韩长赋说</div>
    </div>
</body>

</html>